@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: "\5FAE\8F6F\96C5\9ED1", "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif; }

a {
  text-decoration: none;
  color: #333; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

p {
  margin: 0;
  padding: 0; }

.display-none {
  display: none; }

.v-hide {
  visibility: hidden; }

.isPlaying {
  position: absolute; }
  .isPlaying i {
    display: inline-block;
    background: #fff;
    margin-right: 3px; }
    .isPlaying i:nth-child(1) {
      -webkit-animation: line 1s infinite ease-in-out alternate;
              animation: line 1s infinite ease-in-out alternate; }
    .isPlaying i:nth-child(2) {
      -webkit-animation: line 1s 0.2s infinite ease-in-out alternate;
              animation: line 1s 0.2s infinite ease-in-out alternate; }
    .isPlaying i:nth-child(3) {
      -webkit-animation: line 1s 0.6s infinite ease-in-out alternate;
              animation: line 1s 0.6s infinite ease-in-out alternate; }
    .isPlaying i:nth-child(4) {
      -webkit-animation: line 1s 1s infinite ease-in-out alternate;
              animation: line 1s 1s infinite ease-in-out alternate; }

@-webkit-keyframes line {
  from {
    height: 0; }
  to {
    height: 0.34375rem; } }

@keyframes line {
  from {
    height: 0; }
  to {
    height: 0.34375rem; } }

@media all and (min-device-width: 1024px) {
  @-webkit-keyframes line {
    from {
      height: 0; }
    to {
      height: 16px; } }
  @keyframes line {
    from {
      height: 0; }
    to {
      height: 16px; } } }

.watermark {
  position: absolute; }
.live-list-container {
  background: #F5F5F5;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
.live-video-container {
  height: 5.625rem;
  width: 100%; }
video::-webkit-media-controls {
  display: none !important; }

.live-video {
  position: relative;
  left: 0%; }
.list-header {
  background: #FFFFFF;
  box-shadow: inset 0 -1px 0 0 #E6E6E6;
  width: 100%;
  height: 1.25rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .list-header .title {
    color: #323232;
    margin-left: 0.3125rem; }
  .list-header .online-info {
    color: #999999;
    margin-right: 0.3125rem; }

html[data-dpr="1"] .list-header .title {
  font-size: 14px; }

html[data-dpr="2"] .list-header .title {
  font-size: 28px; }

html[data-dpr="3"] .list-header .title {
  font-size: 42px; }

@media all and (min-device-width: 1024px) {
  .list-header .title {
    font-size: 28px; } }

html[data-dpr="1"] .list-header .online-info {
  font-size: 12px; }

html[data-dpr="2"] .list-header .online-info {
  font-size: 24px; }

html[data-dpr="3"] .list-header .online-info {
  font-size: 36px; }

@media all and (min-device-width: 1024px) {
  .list-header .online-info {
    font-size: 24px; } }
.live-list-item {
  width: 9.375rem;
  height: 2.375rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #E6E6E6;
  position: relative; }
  .live-list-item:hover {
    cursor: pointer; }
  .live-list-item .list-item-img .img-bg {
    height: 1.75rem;
    width: 3.125rem; }
  .live-list-item .list-item-img .img-live {
    width: 0.9375rem;
    height: 0.46875rem;
    position: absolute;
    top: 0.39062rem;
    left: 0.0625rem; }
  .live-list-item .list-item-img .live-playing {
    position: absolute;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap-reverse;
        -ms-flex-wrap: wrap-reverse;
            flex-wrap: wrap-reverse;
    height: 0.46875rem;
    left: 0.0625rem;
    bottom: 0.39062rem; }
    .live-list-item .list-item-img .live-playing i {
      width: 0.125rem;
      border-radius: 0.0625rem;
      background: #fffff;
      margin-right: 0.04688rem; }
  .live-list-item .list-item-info {
    width: 6.25rem;
    margin-left: 0.3125rem; }
    .live-list-item .list-item-info .description {
      color: #4C4C4C;
      max-height: 1.25rem;
      width: 5.71875rem;
      word-break: break-all;
      overflow: auto; }
    html[data-dpr="1"] .list-item-info .description {
      font-size: 14px; }
    html[data-dpr="2"] .list-item-info .description {
      font-size: 28px; }
    html[data-dpr="3"] .list-item-info .description {
      font-size: 42px; }
    @media all and (min-device-width: 1024px) {
      .live-list-item .list-item-info .list-item-info .description {
        font-size: 28px; } }
    .live-list-item .list-item-info .live-audience-info {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-top: 0.25rem; }
      .live-list-item .list-item-info .live-audience-info .audience-count-info {
        color: #666666; }
        .live-list-item .list-item-info .live-audience-info .audience-count-info img {
          width: 0.39062rem;
          height: 0.25rem; }
        .live-list-item .list-item-info .live-audience-info .audience-count-info span {
          margin-left: 0.15625rem; }
      .live-list-item .list-item-info .live-audience-info .live-date {
        color: #CCCCCC; }
    html[data-dpr="1"] .list-item-info .live-audience-info {
      font-size: 10px; }
    html[data-dpr="2"] .list-item-info .live-audience-info {
      font-size: 20px; }
    html[data-dpr="3"] .list-item-info .live-audience-info {
      font-size: 30px; }
    @media all and (min-device-width: 1024px) {
      .live-list-item .list-item-info .list-item-info .live-audience-info {
        font-size: 20px; } }

/*# sourceMappingURL=mobile-main-fc225407.css.map*/