<div class="chat_area">
  <div class="msg_overflow">
    <ul class="msg_list">
      <li>
        <img class="avatar" src="http://avatar.test.qupai.me/20160506/b8130ac8-076d-47e4-84fb-4c920fe61807.jpg">
        <div class="detail">
          <div class="head">
            <span class="nick">张三</span>
            <span class="time">19:05</span>
          </div>
          <p class="txt">欢迎进入直播间欢迎进入直播间欢迎进入直播间欢迎直播间欢迎直播间欢迎</p>
        </div>
      </li>
      <li>
        <img class="avatar" src="http://avatar.test.qupai.me/20160506/b8130ac8-076d-47e4-84fb-4c920fe61807.jpg">
        <div class="detail">
          <div class="head">
            <span class="nick">张三</span>
            <span class="time">19:05</span>
          </div>
          <p class="txt">欢迎进入直播间欢迎进入直播间欢迎进入直播间欢迎直播间欢迎直播间欢迎</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="textbox clearfix">
    <div id="send_con">
      <!-- <textarea id="send_txt" placeholder='在这里聊天吧'></textarea> -->
      <div id="send_txt" contenteditable="true">111<img src="../../../images/emoji@2x.png">222<img src="../../../images/emoji@2x.png"></div>
      <div class="emoji">
        <div class="emoji_btn"><img src="../../../images/emoji@2x.png"></div>
        <div class="emoji_pop">
          
        </div>
      </div>
    </div>
    <div id="send_btn">发送</div>
    <!-- <input type='text' class='input'/>  -->
  </div>
</div>